<div>
    <h1>Iniciar sesion</h1>
</div>
<div class="buttons">
    <button> 
        <a href="/login">
            Log In
        </a>
    </button>
    <button> 
        <a href="/sign-up">
            Sign Up
        </a>
    </button>
</div>

<link type="text/css" rel="stylesheet" href="./css/index.css">